<div id="listing-<%=listing.id%>" class="route-tile category-<%= listing.category.name.downcase %>" style="" data-listing-id="<%=listing.id%>">
  <div class="route-tile-media">
    <%= render "shared/listing-image", listing: listing %>
  </div>
  <div class="route-tile-info">
    <h6 class="card-title" style="margin-top:5px">
      <strong><%= listing.name%></strong>
    </h6>
    <div class="card-text">
      <small>
        <%= listing.address %></br>
        Rating: <%= listing.rating%></br>
        <div class="btn" style="font-size: 10px; background-color: #A9A9A9; color: white; padding: 2px">
          <%= listing.tags.map(&:name).join(',') %>
        </div>

        <div class="form-check" style="text-align: right">
          Select
          <%=
            check_box_tag "listing_ids-#{listing.id}",
            listing.id,
            @journey.listings.include?(listing),
            class: 'listing-select'
          %>
        </div>
      </small>
    </div>
  </div>
</div>