<div class="row">

  <!--  LEFT PANEL -->

  <div class="col-lg-12">

    <div class="row">
      <div class="col-lg-12">
        <div class="btn-success" style="text-align: center; color: white; height: 36px; padding-top: 7px">!! Click to complete your customisation !!</div>
      </div>
    </div>

    <!-- PANEL HEADER WITH TABS ***INACTIVE FOR NOW***-->

    <!-- <div class="row">
      <div class="col-lg-12">

        <button class="tablink" style="width:50%" onclick="openTab('tab1', this, 'green')">Eats</button>
        <button class="tablink" style="width:50%" onclick="openTab('tab2', this, 'green')">Sights</button>
        <script>
          function openTab(tabName,elmnt,color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(tabName).style.display = "block";
            elmnt.style.backgroundColor = color;
          }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
          </script>

        </div>
      </div> -->

      <div class="row">

        <!-- EATS LISTINGS -->

        <div class="col-lg-3">

          <div class="row">
            <div class="col-lg-12">
              <h3 style="padding-left: 15px; padding-top: 15px">Eats</h3>
            </div>
          </div>

          <div class="row" style="margin-left: 1px; margin-right:1px">

            <div class="routes-grid">
              <% if @listings.count == 0 %>
              <div class="col-lg-12" style="display: block; color: #F0F0F0; text-align: center; padding: 100px">
                <h5>No listings available</h5>
                <h5>Try again!</h5>
              </div>
              <%else%>

              <% @listings.where(category_id: 2).each_with_index do |listing, index| %>
              <div class="route-tile" style="background-color:#b6deef; padding:5px; margin: 7px">
                <div class="route-tile-media">
                  <%= render "shared/listing-image", listing: listing %>
                </div>
                <div class="route-tile-info">
                  <h6 class="card-title" style="margin-top:5px"><strong><%= listing.name%></strong></h6>
                  <div class="card-text">
                    <small>
                      <%= listing.address %></br>
                      Rating: <%= listing.rating%></br>
                      <div class="btn" style="font-size: 10px; background-color: grey; color: white; padding: 2px">
                        <%= listing.tags.map(&:name).join(',') %>
                      </div>
                    </div>
                    <div class="form-check" style="text-align: right">
                      <input class="form-check-input" type="checkbox" value="" id="eatcheck<%= index + 1 %>">
                      <label class="form-check-label" for="eatcheck<%= index + 1 %>">
                        Select
                      </label>
                    </div>
                  </small>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>

        </div>


        <!-- SIGHTS LISTINGS-->

        <div class="col-lg-3">

          <div class="row">
            <div class="col-lg-12">
              <h3 style="padding-left: 15px; padding-top: 15px">Sights</h3>
            </div>
          </div>

          <div class="row" style="margin-left: 1px; margin-right:1px">

            <div class="routes-grid">
              <% if @listings.count == 0 %>
              <div class="col-lg-12" style="display: block; color: #F0F0F0; text-align: center; padding: 100px">
                <h5>No listings available</h5>
                <h5>Try again!</h5>
              </div>
              <%else%>

              <% @listings.where(category_id: 1).each_with_index do |listing, index| %>
              <div class="route-tile" style="background-color:#fafad2; padding:5px; margin: 7px">
                <div class="route-tile-media">
                  <%= render "shared/listing-image", listing: listing %>
                </div>
                <div class="route-tile-info">
                  <h6 class="card-title" style="margin-top:5px"><strong><%= listing.name%></strong></h6>
                  <div class="card-text">
                    <small>
                      <%= listing.address %></br>
                      Rating: <%= listing.rating%></br>
                      <div class="btn" style="font-size: 10px; background-color: grey; color: white; padding: 2px">
                        <%= listing.tags.map(&:name).join(',') %>
                      </div>
                    </div>
                    <div class="form-check" style="text-align: right">
                      <input class="form-check-input" type="checkbox" value="" id="sightcheck<%= index + 1 %>">
                      <label class="form-check-label" for="sightcheck<%= index + 1 %>">
                        Select
                      </label>
                    </div>
                  </small>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>


        <!-- RIGHT PANEL -->

        <div class="col-lg-6">

          <div id="map"
          style="width: 100%; height: 600px; position:sticky"
          data-start="<%= @start.to_json %>"
          data-end="<%= @end.to_json %>"
          data-fitpoints="<%= @fit_points.to_json %>"
          data-listingmarkers="<%= @listing_markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>



    </div>

  </div>
</div>
