<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="d-flex justify-content-around mt-3">
        <h3>Eats</h3>
        <h3>Sights</h3>
      </div>
      <div class="text-right filter-parent">
        <button class="btn btn-filter filter" data-toggle="collapse" data-target="#collapseDropDown">
          <i class="fas fa-sliders-h"></i>
        </button>
      </div>
      <div class="collapse" id="collapseDropDown">
        <div class="card card-body" id = "drop-down-filter">
        <%= form_with url: "/listings", method: :get, local: true, class: 'simple_form search drop-down-form' do |form| %>
          <div class="form-group">
            <label for="eat-tags">Select your tag for Eats</label>
            <%= form.select :tag_eats, ["Bakeries", "Fastfood", "Restaurants", "Beverages", "Cafés", "Supermarkets", "Hawkers" ], {:include_blank => 'All'}, class: "form-control", id: "eat-tags", prompt: "All" %>
          </div>
          <div class="form-group">
            <label for="sight-tags">Select your tag Sights</label>
            <%= form.select :tag_sights, ["Monuments", "Museums", "Parks"], {:include_blank => 'All'}, class: "form-control", id: "sight-tags" %>
          </div>
          <%= form.hidden_field :start, value: params[:start]%>
          <%= form.hidden_field :end, value: params[:end] %>
          <button type="submit" class="btn btn-block btn-primary mb-0">Submit</button>
        <% end %>          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= simple_form_for(@journey) do |f| %>
          <!-- EATS LISTINGS -->
          <div class="row">
            <div class="routes-grid">
              <% if @listingeats.size == 0 %>
                  <h5>No listings available</h5>
                  <h5>Try again!</h5>
              <%else%>
                <% @listingeats.each do |listing| %>
                  <%= render "/shared/route_tile", listing: listing %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
          <!-- MIDDLE PANEL #2 SIGHTS -->
        <div class="col-lg-6">
          <!-- SIGHTS LISTINGS-->
          <div class="row">
            <div class="routes-grid">
              <% if @listingsights.size == 0 %>
                  <h5>No listings available</h5>
                  <h5>Try again!</h5>
              <%else%>
                <% @listingsights.each do |listing| %>
                  <%= render "/shared/route_tile", listing: listing %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- RIGHT PANEL #3 MAP -->
    <div class="col-lg-8">
      <!-- FORM SUBMIT   -->
      <div class="sticky mt-3">
        <!-- FORM INPUT - JOURNEY NAME -->
        <%= f.input :name, label: "Name Your Journey", label_html: { class: 'journey-create-name' }, required: :true %>
        <%= f.label "visible to public" %>
        <%= f.input_field :privacy, as: :boolean, checked_value: false, unchecked_value: true %>
        </small>
        <%= f.hidden_field :origin, value: @origin %>
        <%= f.hidden_field :destination, value: @destination %>
        <%= f.submit "Create Journey", method: :create, class: "btn btn-block btn-success" %>
        <% end %>
        <!-- MAP -->
        <div id="map-listing"
          data-start="<%= @start.to_json %>"
          data-end="<%= @end.to_json %>"
          data-fitpoints="<%= @fit_points.to_json %>"
          data-listingmarkers="<%= @listing_markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
