<div class="row">

  <!--  LEFT PANEL -->

  <div class="col-lg-7">

    <!-- PANEL HEADER WITH TABS ***INACTIVE FOR NOW***-->

    <!-- <div class="row">
      <div class="col-lg-12">

        <button class="tablink" style="width:50%" onclick="openTab('tab1', this, 'green')">Eats</button>
        <button class="tablink" style="width:50%" onclick="openTab('tab2', this, 'green')">Sights</button>
        <script>
          function openTab(tabName,elmnt,color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(tabName).style.display = "block";
            elmnt.style.backgroundColor = color;
          }
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
          </script>

        </div>
      </div> -->

      <div class="row">

      <!-- EATS LISTINGS -->

        <div class="col-lg-6">

          <div class="container" style="background-color: #F0F0F0; padding:5px">

            <h3 style="padding: 7px">Eats</h3>

            <div class="routes-grid">
              <% if @listings.count == 0 %>
              <div class="col-lg-12" style="display: block; color: #F0F0F0; text-align: center; padding: 100px">
                <h5>No listings available</h5>
                <h5>Try again!</h5>
              </div>
              <%else%>

                <% @listings.sample(6).each do |listing| %>
                <div class="route-tile">
                  <div class="route-tile-media">
                    <%= render "shared/listing-image", listing: listing %>
                  </div>
                  <div class="route-tile-info">
                    <h6 class="card-title"><strong><%= listing.name%></strong></h6>
                    <p class="card-text">
                      <span class="col-sm-4">
                        <strong><%= listing.address %></strong>
                      </span>
                      <p><small><%= listing.rating%></small></p>
                      <p><small><%= listing.tags.map(&:name).join(',') %></small></p>
                    </p>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Select
                      </label>
                    </div>
                  </div>
                </div>
                <% end %>

                  <% end %>

              </div>
            </div>

          </div>

        <!-- SIGHTS LISTINGS-->

          <div class="col-lg-6">

            <h3 style="padding:7px">Sights</h3>

            <div class="routes-grid">
              <% if @listings.count == 0 %>
              <div class="col-lg-12" style="display: block; color: #F0F0F0; text-align: center; padding: 100px">
                <h5>No listings available</h5>
                <h5>Try again!</h5>
              </div>
              <%else%>
              <li>
                <% @listings.sample(6).each_with_index do |listing, index| %>
                <div class="route-tile">
                  <div class="route-tile-media">
                    <%= render "shared/listing-image", listing: listing %>
                  </div>
                  <div class="route-tile-info" data-controller="itinerary">
                    <h5 class="card-title"><strong><%= listing.name%></strong></h5>
                    <p class="card-text">
                      <span class="col-sm-4">
                        <strong><%= listing.address %></strong>
                      </span>
                      <p><small><%= listing.rating%></small></p>
                      <p><small><%= listing.tags.map(&:name).join(',') %></small></p>
                    </p>
                    <div class="form-check" data-itinerary-target="select">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck<%= index + 1 %>">
                      <label class="form-check-label" for="defaultCheck<%= index + 1 %>">
                        Select
                      </label>
                    </div>
                  </div>
                </div>
                <% end %>

                  <% end %>

              </div>
            </div>

          </div>
        </div>


      <!-- RIGHT PANEL -->

      <div class="col-lg-5">
        <div id="map"
        style="width: 100%; height: 600px;"
        data-start="<%= @start.to_json %>"
        data-end="<%= @end.to_json %>"
        data-fitpoints="<%= @fit_points.to_json %>"
        data-listingsights="<%= @listing_sights.to_json %>"
        data-listingeats="<%= @listing_eats.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
