<div class="main">
  <div class="routes-grid">
    <% if @listings.count == 0 %>
      <div class="col-sm-12" style="display: block; color: grey; text-align: center; padding: 100px">
        <h5>No listings available</h5>
        <h5>Try again!</h5>
      </div>
      <%else%>
      <li>
        <% @listings.sample(6).each do |listing| %>
        <div class="route-tile">
          <div class="route-tile-media">
            <%= render "shared/listing-image", listing: listing %>
          </div>
        <div class="route-tile-info">
          <h5 class="card-title"><strong><%= listing.name%></strong></h5>
            <p class="card-text">
              <%= listing.description %>
                <span class="col-sm-4">
                  <strong><%= listing.address %></strong>
                </span>
              <p><small><%= listing.categories.map(&:name).join(',') %></small></p>
            </p>
          </div>
        </div>
          <% end %>
        <li>
      <% end %>
    </div>
  <div class="map-container">
    <div id="map"
      style="width: 100%; height: 600px;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
