

  <div class="card-group editorial">
    <h3>Inspiration from our Editors</h3>

  <!-- MOCK LANDING CARD 1-->

<div class="container">
    <div class="item">
      <h5 class="card-title"><%= link_to "Monuments", "https://www.roots.gov.sg/nhb/monuments" %></h5>
    </div>

  <!-- MOCK LANDING CARD 2-->

    <div class="item">
      <h5 class="card-title"><%= link_to "Katong", "https://www.nomadasaurus.com/things-to-do-in-katong-singapore/" %></h5>
    </div>
  <!-- MOCK LANDING CARD 3-->

    <div class="item">
        <h5 class="card-title"><%= link_to "Hawkers", editorial_path %></h5>
    </div>

  <!-- MOCK LANDING CARD 4-->

    <div class="item">
        <h5 class="card-title"><%= link_to "Cafes", "https://thehoneycombers.com/singapore/best-new-cafes-singapore-2021/" %></h5>
    </div>


  <!-- MOCK LANDING CARD 5-->

    <div class="item">
        <h5 class="card-title"><%= link_to "Burgers", "https://sg.asiatatler.com/dining/tatler-editors-picks-best-burger-joints-in-singapore" %></h5>
    </div>
  </div>
</div>


