<div id="map-listing"
  data-start="<%= start.to_json %>"
  data-end="<%= end_location.to_json %>"
  data-fitpoints="<%= fit_points.to_json %>"
  data-listingmarkers="<%= listing_markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>