<% if user_signed_in? %>
  <div class="container-search" style="position: relative; right:10px">
    <button class="btn btn-flat" data-toggle="collapse" data-target="#collapseDropDownSearch">Start New Journey</button>
    <div class="collapse" id="collapseDropDownSearch">
      <div class="card-search" id = "drop-down-filtersearch">
        <%= form_with url: "/listings", method: :get, local: true, class: 'simple_form search drop-down-form' do |form| %>
          <div class="search-input">
            <label for="start">Start</label>
            <%= form.text_field :start, id: "start", name: "start", required: 3%>
            <label for="end">End</label>
            <%= form.text_field :end, id: "end", name: "end", required: 3 %>
            <button type="submit" class="btn btn-ghost"><i class="fas fa-search"></i></button>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
<% else %>
  <div class="container-search" style="position: relative; left:27px">
    <button class="btn btn-flat" data-toggle="collapse" data-target="#collapseDropDownSearch">Start New Journey</button>
    <div class="collapse" id="collapseDropDownSearch">
      <div class="card-search" id = "drop-down-filtersearch">
        <%= form_with url: "/listings", method: :get, local: true, class: 'simple_form search drop-down-form' do |form| %>
          <div class="search-input">
            <label for="start">Start</label>
            <%= form.text_field :start, id: "start", name: "start", required: 3%>
            <label for="end">End</label>
            <%= form.text_field :end, id: "end", name: "end", required: 3 %>
            <button type="submit" class="btn btn-ghost"><i class="fas fa-search"></i></button>
          </div>
        <% end %>
      </div>  
    </div>
  </div>
<% end %>


