<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-12">
          <h3 style="padding-left: 15px; padding-top: 15px">Eats</h3>
        </div>
      </div>
      <div class="row" style="margin-left: 1px; margin-right:1px">
        <div class="routes-grid">
          <% if @listings.count == 0 %>
          <div class="col-lg-12" style="display: block; color: #F0F0F0; text-align: center; padding: 100px">
            <h5>No listings available</h5>
            <h5>Try again!</h5>
          </div>
          <% end %>

          <%= render @listingeats %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-12">
          <h3 style="padding-left: 15px; padding-top: 15px">Sights</h3>
        </div>
      </div>
      <div class="row" style="margin-left: 1px; margin-right:1px">
        <div class="routes-grid">
          <% if @listings.count == 0 %>
          <div class="col-lg-12" style="display: block; color: #F0F0F0; text-align: center; padding: 100px">
            <h5>No listings available</h5>
            <h5>Try again!</h5>
          </div>
          <% end %>
          <%= render @listingsights %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="sticky">
        <div class="row" style="align-items: center">
          <div class="col-lg-12">
            <%= simple_form_for @journey do |f| %>
              <%= f.input :name, value: @name, required: :true %>
              <%= f.association :listings, as: :check_boxes %>
              <small>
                <%= f.input :privacy, label: 'Visible to public',
                checked_value: false, unchecked_value: true %>
              </small>
              <%= f.hidden_field :origin, value: @journey.origin %>
              <%= f.hidden_field :destination, value: @journey.destination %>
              <%= f.submit "Submit!", class: "btn btn-primary btn-block" %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <%= render 'shared/map',
              start: @start,
              end_location: @end,
              fit_points: @fit_points,
              listing_markers: @listing_markers
          %>
        </div>
      </div>
    </div>
  </div>
</div>
