<div class="card-group">
  <div class="col-xl-12">
    <h5>Your journeys</h5>
  </div>
  <% @journeys.each do |listing| %>
  <div class="col-lg-2">
    <div class="card">
      <img class="card-img-top" src="<%=listing.route_url%>">
      <div class="card-body">
        <h6 class="card-title">
          <%= link_to "#{listing.name}", "/journeys/#{listing.id}}" %>
        </h6>
        <p>
          From: <%= listing.origin %> </br>
          To: <%= listing.destination %>
        </p>
      </div>
      <div class="card-footer">
        <small>
          <% if listing.privacy == true %>
          Private route
          <% else %>
          Visible to public
          <% end %>
        </br>
        <%= link_to "see route", "/journeys/#{listing.id}}" %>
      </small>
    </div>
  </div>
</div>
<% end %>
</div>




