<div class="row">

  <div class="col-xl-4">

    <div class="row" style="padding-left: 20px">
      <div class="col-xl-8">
        <h5><%= @journey.name  %></h5>
        <p>From: <%= @journey.origin %></br>
         To: <%= @journey.destination %></p>
       </div>
       <div class="col-xl-4 avatar">
        <div class="avatar">
          <% user = User.find(@journey.user_id)%>
          <% if user.avatar.attached? %>
          <img class="avatar-xl" src="https://res.cloudinary.com/dcm2heeuf/image/upload/v1620723373/<%=user.avatar.key %>">
          <% else %>
          <img class="avatar-xl" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png">
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row g-0">
      <div class="col-xl-6">
        <h6>Eats</h6>
        <% @journey.listings.where(category_id: 2).each do |listing| %>
        <div class="card-small">
          <div class="card-small-title">
            <h6><strong><%= listing.name%></strong></h6>
          </div>
          <div class="card-small-text">
            <small><%= listing.address %></small></br>
            <div class="btn tile-tag">
              <%= listing.tags.map(&:name).join(',') %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-xl-6">
        <h6>Sights</h6>
        <% @journey.listings.where(category_id: 1).each do |listing| %>
        <div class="card-small">
          <div class="card-small-title">
            <h6><strong><%= listing.name%></strong></h6>
          </div>
          <div class="card-small-text">
            <small><%= listing.address %></small></br>
            <div class="btn tile-tag">
              <%= listing.tags.map(&:name).join(',') %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row icons">
    <div class="col-xl-9">
      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0" nonce="NXLjCoj3"></script>
      <div class="fb-share-button" data-href="https://ridenowrightnow.herokuapp.com/journeys/<%= @journey.id %>" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fridenowrightnow.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    </div>
    <div class="col-xl-3 icons">
      <% if user_signed_in? %>
      <%= link_to "", route_email_journey_path, class: 'fas fa-envelope' %>
      <% end %>
      <% if policy(@journey).update? %>
      <%= link_to "", edit_journey_path(@journey), class: 'fas fa-edit' %>
      <%= link_to "",
      journey_path(@journey),
      method: :delete,
      data: { confirm: "Are you sure?" }, class:"fa fa-trash" %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-xl-8">
  <div class="mapbox">
    <div id="map-journey"
    style="width: 100%; height: 800px; position:sticky"
    data-start="<%= @start.to_json %>"
    data-end="<%= @end.to_json %>"
    data-fitpoints="<%= @fit_points.to_json %>"
    data-listingmarkers="<%= @listing_markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div id="instructions"></div>
</div>
</div>

</div>
