<!DOCTYPE html>
<html>
  <head>
    <title>Ridenow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="container">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <p style="color: grey; text-align: center; margin: 100px">
      <small>You've reached the end of the page</small>
    </p>

    <%= render 'shared/footer' %>
  </div>
  </body>
</html>
